<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tsevan.loopix" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Loopix</name>

    <description>
        Loopix — addictive puzzle game with connections, combos and strategy.
    </description>

    <author email="sshrsevan@gmail.com">
        Tsevan
    </author>

    <content src="index.html" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Общие настройки -->
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="AndroidXEnabled" value="true" />

    <platform name="android">
    
        <!-- Иконка -->
        <icon src="resources/icon.png" />
    
        <!-- Android 12 splash -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
    
    </platform>

</widget>
